* {margin: 0; padding: 0; outline: none;}
 
.intro {
  margin-top: 50px;
  margin-bottom: 80px;
  padding: 10px;
  background: #eee;
  text-align: center;
  text-transform: uppercase;
}
 
.intro h1 {
  font: bold 40px/1 Helvetica, sans-serif;
}
 
.intro p {
  font: bold 20px/1.5 Helvetica, sans-serif;
}